results
.vscode
.conda
data/__pycache__
model/__pycache__
schedulers/__pycache__
*pyc
*png
outputs/
wandb
slurm
train.sbatch
.gradio
runs/
data/128_1m
data/128_1m_hollow
data/256_1m
data/256_1m_hollow
data/steiner_data*
data/*polygon_data*
data/curves_data*

evaluation_results/

pyrightconfig.json
*.pdf
*.so
build
debug
data/geosteiner-5.3
data/temp
.hydra
train.log