hydra:
  run:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S-%f}

defaults:
  - _self_


float32_matmul_precision: 'high'
compile_model: true
save_git_diff: true

dataset:
  type: "graphs_steiner"
  num_samples: null
  save_on_generate: false
  use_distance_transform: false
  steiner_data_path: "data/steiner_data_10_20"
  image_size: 128
  val_fraction: 0.1
  use_exact_steiner: true
  seed: ${train.seed}

model:
  time_emb_dim: 128
  num_levels: 4
  attention_heads: 8
  attention_locations: ["bottleneck", "enc2", "enc3", "dec2", "dec3"]
  base_channels: 64

metrics:
  quality:
    type: "squareness"

  alignment:
    decay_scale: 7.5

# Training configuration
train:
  autocast_dtype: 'bfloat16'
  clip_grad_norm: true
  checkpoint_path: ''
  num_workers: 2
  persistent_workers: true
  optimizer_config:
    type: "adamw"
    params:
      lr: 6e-4
      fused: true

  loss_config:
    loss_func: "l2"
    loss_target: "eps"
    piecewise_loss: false
    weight_x_0_by_timestep: false  # whether to weight x_0 loss by timestep
  lr_scheduler_config:
    num_cycles: 0.5
    num_warmup_steps: 100
    min_lr_factor: 0.1
  
  grad_accum_steps: 8
  batch_size: 128
  num_epochs: 100
  seed: 42
  p_null: 0
  clean_prev_checkpoints: true
  checkpoint_every_n_epochs: 1
  validation_config:
    validate_every_n_epochs: 1
    n_samples_for_metrics: 1000
    guidance_scale: 1.0
    seed: ${train.seed}
  sampling_config:
    sample_every_n_epochs: 1
    n_samples: 4
    n_seeds_per_sample: 4
    guidance_scale: [1]
    seed: ${train.seed}
    timesteps_to_log: [99, 95, 90, 80, 50, 20, 10, 1]  # timesteps to log during validation
    log_to_wandb: true

  log_every_n_steps: 10

  train_viz_config:
    
    plot_every_n_steps: 1000
    num_samples_to_plot: 4
    
  null_condition: 0

# Diffusion scheduler configuration
scheduler:
  diffusion_steps: 100
  eta: 0.0
  
# Wandb config (optional empty dict or override as needed)
wandb:
  project: "geometric-solver-steiner"
  entity: "entity"  # fill if needed
  mode: "offline"  # options: online, offline, disabled
  api_key: "key" # fill if needed