hydra:
  run:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S-%f}

defaults:
  - _self_

training_mode: "regression"  # Options: "diffusion", "regression"

float32_matmul_precision: 'high'
compile_model: true
save_git_diff: true

dataset:
  type: "polygons"
  data_dir: "data/polygon_data_7_12_max"
  num_samples: null  # Use all available samples
  use_distance_transform: false
  fill_polygon: true
  image_size: 128
  val_fraction: 0.01
  node_radius: 2
  edge_width: 1
  seed: ${train.seed}

model:
  time_emb_dim: 128
  num_levels: 4
  attention_heads: 8
  attention_locations: ["bottleneck", "enc2", "enc3", "dec2", "dec3"]
  base_channels: 64

metrics:
  quality:
    type: "squareness"

  alignment:
    decay_scale: 7.5

# Training configuration
train:
  autocast_dtype: 'bfloat16'
  clip_grad_norm: true
  checkpoint_path: ''
  num_workers: 2
  persistent_workers: true
  optimizer_config:
    type: "adamw"
    params:
      lr: 6e-4
      fused: true

    # Regression-specific loss configuration
  loss_config:
    loss_func: "l2"  # Options: l2, l1, mse, bce
    piecewise_loss: false

  lr_scheduler_config:
    num_cycles: 0.5
    num_warmup_steps: 100
    min_lr_factor: 0.1

  
  grad_accum_steps: 8
  batch_size: 128
  num_epochs: 100
  seed: 42
  p_null: 0
  clean_prev_checkpoints: false
  checkpoint_every_n_epochs: 2
  validation_config:
    validate_every_n_epochs: 1
    n_samples_for_metrics: 1000
    guidance_scale: 1.0
    seed: ${train.seed}
  sampling_config:
    sample_every_n_epochs: 1
    n_samples: 4
    n_seeds_per_sample: 4
    guidance_scale: [1]
    seed: ${train.seed}
    timesteps_to_log: [99, 95, 90, 80, 50, 20, 10, 1]  # timesteps to log during validation
    log_to_wandb: true

  log_every_n_steps: 10

  train_viz_config:
    
    plot_every_n_steps: 1000
    num_samples_to_plot: 4
    
  null_condition: 0

# Diffusion scheduler configuration
scheduler:
  diffusion_steps: 100
  eta: 0.0
  
# Wandb config (optional empty dict or override as needed)
wandb:
  project: "geometric-solver-polygonization-max-regression"
  entity: "entity"  # fill if needed
  mode: "offline"  # options: online, offline, disabled
  api_key: "key" # fill if needed
